<%- include('../views/header/header', { title: 'Explore the Legacy of Bhagwan Baksh Singh Degree College', description: 'Discover the rich history and vision of Bhagwan Baksh Singh Degree College, shaping futures through quality education and a commitment to excellence.' }) %>

    <!-- Start Breadcrumb 
    ============================================= -->
    <div class="breadcrumb-area shadow dark text-center bg-fixed text-light" style="background-image: url(assets/img/banner1.webp); width: auto;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>About Us</h1>
                    <ul class="breadcrumb">
                        <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
                        <li class="active">About</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb -->

    <!-- Start About 
    ============================================= -->
    <div class="about-area default-padding">
        <div class="container">
            <div class="row">
                <div class="about-info">
                    <div class="col-md-6 thumb">
                        <img src="assets/img/bbsdc-about.webp" alt="Thumb">
                    </div>
                    <div class="col-md-6 info">
                        <h5>Introduction</h5>
                        <h2>Welcome to Bhagwan Baksh Singh Degree College: Your Gateway to Higher Education</h2>
                        <p>
                            Explore the best degree colleges in Lucknow, where excellence in education takes center stage. These premier institutions offer diverse programs, ensuring an unparalleled learning experience that prepares students for success in the modern world. 
                        </p>
                        <p>
                            Among Lucknow's top educational collages, Bhagwan Baksh Singh Degree College stands out with its transformative <a href="ba" target="_blank">BA</a> and <a href="bcom" target="_blank">B.Com</a> programs. Our commitment to brilliance and student success makes us the ideal choice for those seeking a well-rounded education in the vibrant city of Lucknow. <a href="contact" target="_blank">Join us</a> on the journey to unlock your potential and chart your course to success.
                        </p>
                        <!-- <a href="about-us" target="_blank" class="btn btn-dark border btn-md">Know More</a> -->
                    </div>
                </div>
                <div class="seperator col-md-12">
                    <span class="border"></span>
                </div>
                <div class="our-features">
                    <div class="col-md-4 col-sm-4">
                        <div class="item mariner">
                            <div class="icon">
                                <i class="flaticon-faculty-shield"></i>
                            </div>
                            <div class="info">
                                <h4>Student Life</h4>
                                <a href="placement-and-internship" target="_blank">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="item java">
                            <div class="icon">
                                <i class="flaticon-book-2"></i>
                            </div>
                            <div class="info">
                                <h4>Quality Education</h4>
                                <a href="our-facilities" target="_blank">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="item malachite">
                            <div class="icon">
                                <i class="flaticon-education"></i>
                            </div>
                            <div class="info">
                                <h4>College Campus</h4>
                                <a href="gallery" target="_blank">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End About -->

      <!-- Start Why Chose Us 
    ============================================= -->
    <div class="wcs-area bg-dark text-light">
        <div class="container-full">
            <div class="row">
                <div class="col-md-6 thumb bg-cover" style="background-image: url(assets/img/about-us.webp);"></div>
                <div class="col-md-6 content">
                    <div class="site-heading text-left">
                        <h4>Why chose us</h4>
                        <h2>Best Degree Colleges in Lucknow</h2>
                        <p>
                            Discover excellence in education at the best degree colleges in Lucknow, where our commitment to providing top-notch learning experiences sets us apart. With a focus on quality and innovation, we offer a range of programs to suit your academic aspirations.
                        </p>
                    </div>

                    <!-- item -->
                    <div class="item">
                        <div class="icon">
                            <i class="flaticon-trending"></i>
                        </div>
                        <div class="info">
                            <h4>
                                <a href="#">Academic Distinction:</a>
                            </h4>
                            <p>
                                Join us for an unparalleled educational journey at one of Lucknow's premier degree colleges.
                            </p>
                        </div>
                    </div>
                    <!-- item -->

                    <!-- item -->
                    <div class="item">
                        <div class="icon">
                            <i class="flaticon-books"></i>
                        </div>
                        <div class="info">
                            <h4>
                                <a href="#">Experienced Faculty</a>
                            </h4>
                            <p>
                                Learn from seasoned educators dedicated to your academic and personal development.
                            </p>
                        </div>
                    </div>
                    <!-- item -->

                    <!-- item -->
                    <div class="item">
                        <div class="icon">
                            <i class="flaticon-professor"></i>
                        </div>
                        <div class="info">
                            <h4>
                                <a href="#">Innovative Learning Culture</a>
                            </h4>
                            <p>
                                Immerse yourself in a dynamic learning environment that fosters creativity and critical thinking.
                            </p>
                        </div>
                    </div>
                    <!-- item -->

                </div>
            </div>
        </div>
    </div>
    <!-- End Why Chose Us -->

    <form action="/" method="post">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <input class="form-control" placeholder="First Name" type="text" name="fname">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <input class="form-control" placeholder="Last Name" type="text" name="lname">
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <input class="form-control" placeholder="Email*" type="email" name="cemail">
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <select name="course">
                        <option value="" selected disabled>Select a Program</option>
                        <option value="Bachelor of Arts (BA)">Bachelor of Arts (BA)</option>
                        <option value="Bachelor of Commerce (B.COM)">Bachelor of Commerce (B.COM)</option>
                    </select>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <input class="form-control" placeholder="Phone" type="text" name="phone">
                </div>
            </div>
            <div class="col-md-12">
                    <div class="form-group comments">
                        <textarea class="form-control" id="comments" name="message" placeholder="Tell Me About Courses *"></textarea>
                    </div>
            </div>
            <div class="col-md-12">
                <button type="submit">
                    Rigister Now
                </button>
            </div>
        </div>
        <div id="notification" class="alert alert-success fade show" role="alert"></div>
    </form>
    <!-- Start Portfolio
    ============================================= -->
    <div id="portfolio" class="portfolio-area default-padding">
        <div class="container">
            <div class="row">
                <div class="site-heading text-center">
                    <div class="col-md-8 col-md-offset-2">
                        <h2>Our Gallery</h2>
                        <p>
                            Dive into our captivating gallery, a visual journey through the vibrant tapestry of campus life. From academic milestones to cultural celebrations, each image tells a unique story of our dynamic community. Explore and relive the moments that define our enriching college experience.
                        </p>
                    </div>
                </div>
            </div>
            <div class="portfolio-items-area text-center">
                <div class="row">
                    <div class="col-md-12 portfolio-content">
                        <div class="mix-item-menu active-theme">
                            <button class="active" data-filter="*">All</button>
                            <button data-filter=".campus">Campus</button>
                            <button data-filter=".teachers">Teachers</button>
                            <button data-filter=".education">Education</button>
                            <button data-filter=".ceremony">Ceremony</button>
                            <button data-filter=".students">Students</button>
                        </div>
                        <!-- End Mixitup Nav-->

                        <div class="row magnific-mix-gallery masonary text-light">
                            <div id="portfolio-grid" class="portfolio-items col-3">
                                <div class="pf-item ceremony students">
                                    <div class="item-effect">
                                        <img src="assets/img/gl1.webp" alt="thumb" />
                                        <div class="overlay">
                                            <a href="assets/img/gl1.webp" class="item popup-link"><i class="fa fa-expand"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="pf-item teachers ceremony">
                                    <div class="item-effect">
                                        <img src="assets/img/gl2.webp" alt="thumb" />
                                        <div class="overlay">
                                            <a href="assets/img/gl2.webp" class="item popup-link"><i class="fa fa-expand"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="pf-item campus education">
                                    <div class="item-effect">
                                        <img src="assets/img/gl3.webp" alt="thumb" />
                                        <div class="overlay">
                                            <a href="assets/img/gl3.webp" class="item popup-link"><i class="fa fa-expand"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="pf-item education students">
                                    <div class="item-effect">
                                        <img src="assets/img/gl4.webp" alt="thumb" />
                                        <div class="overlay">
                                            <a href="assets/img/gl4.webp" class="item popup-link"><i class="fa fa-expand"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="pf-item ceremony campus">
                                    <div class="item-effect">
                                        <img src="assets/img/gl5.webp" alt="thumb" />
                                        <div class="overlay">
                                            <a href="assets/img/gl5.webp" class="item popup-link"><i class="fa fa-expand"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="pf-item ceremony teachres">
                                    <div class="item-effect">
                                        <img src="assets/img/gl6.webp" alt="thumb" />
                                        <div class="overlay">
                                            <a href="assets/img/gl6.webp" class="item popup-link"><i class="fa fa-expand"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="pf-item ceremony teachres">
                                    <div class="item-effect">
                                        <img src="assets/img/gl7.webp" alt="thumb" />
                                        <div class="overlay">
                                            <a href="assets/img/gl7.webp" class="item popup-link"><i class="fa fa-expand"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="pf-item ceremony teachres">
                                    <div class="item-effect">
                                        <img src="assets/img/gl8.webp" alt="thumb" />
                                        <div class="overlay">
                                            <a href="assets/img/gl8.webp" class="item popup-link"><i class="fa fa-expand"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="pf-item ceremony teachres">
                                    <div class="item-effect">
                                        <img src="assets/img/gl9.webp" alt="thumb" />
                                        <div class="overlay">
                                            <a href="assets/img/gl9.webp" class="item popup-link"><i class="fa fa-expand"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="pf-item ceremony teachres">
                                    <div class="item-effect">
                                        <img src="assets/img/gl10.webp" alt="thumb" />
                                        <div class="overlay">
                                            <a href="assets/img/gl10.webp" class="item popup-link"><i class="fa fa-expand"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="pf-item ceremony teachres">
                                    <div class="item-effect">
                                        <img src="assets/img/gl11.webp" alt="thumb" />
                                        <div class="overlay">
                                            <a href="assets/img/gl11.webp" class="item popup-link"><i class="fa fa-expand"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="pf-item ceremony teachres">
                                    <div class="item-effect">
                                        <img src="assets/img/gl12.webp" alt="thumb" />
                                        <div class="overlay">
                                            <a href="assets/img/gl12.webp" class="item popup-link"><i class="fa fa-expand"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Portfolio -->

        <!-- Start Video Area
    ============================================= -->
    <div class="video-area padding-xl text-center bg-fixed text-light shadow dark-hard" style="background-image: url(assets/img/banner2.webp);">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="video-heading">
                        <h2>Begin Your Educational Journey: Admission Now Open!</h2>
                        <p>
                            Seize the opportunity to shape your future—our doors are open for admissions! Join us on a transformative educational journey that nurtures your potential and paves the way for academic success. Embrace the possibilities and apply today!
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="video-info">
                    <div class="user-login text-right col-md-4"
                    style="margin-top: 28px; position: relative; left: 25%;">
                    <a class="popup-with-form" href="#register-form"
                        style="background: #ffb606 none repeat scroll 0 0;border: medium none; box-shadow: inherit; font-family: Poppins , sans-serif; font-weight: 600; margin-top: 15px; padding: 13px 22px; text-transform: uppercase;">
                        <i class="fas fa-edit"></i> Register Now
                    </a>
                </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Video Area -->

    <%- include('../views/footer/footer.ejs') %>