<%- include('../views/header/header', { title: 'Best BA degree collage at Bhagwan Baksh Singh Degree College', description: 'Embark on a journey of academic exploration with our BA programs. Discover diverse disciplines, expert faculty, and a vibrant learning environment at Bhagwan Baksh Singh Degree College.' }) %>

    <!-- Start Breadcrumb 
    ============================================= -->
    <div class="breadcrumb-area shadow dark text-center bg-fixed text-light"
        style="background-image: url(assets/img/banner1.webp);">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Bachelor of Arts (BA)</h1>
                    <ul class="breadcrumb">
                        <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
                        <li><a href="#">Course</a></li>
                        <li class="active">Single</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb -->

    <!-- Start About 
    ============================================= -->
    <div class="about-area default-padding">
        <div class="container">
            <div class="row">
                <div class="about-info">
                    <div class="col-md-6 thumb">
                        <img src="assets/img/ba-collage.webp" alt="Thumb">
                    </div>
                    <div class="col-md-6 info">
                        <h2>Best BA collage in lucknow</h2>
                        <p>
                            Immerse yourself in a versatile academic journey at the best BA college in Lucknow. Our
                            Bachelor of Arts program is crafted to foster creativity, critical thinking, and a
                            comprehensive understanding of the world. From engaging courses to transformative
                            experiences, our dynamic overview reflects our commitment to academic excellence and
                            holistic development.
                        </p>
                        <p>
                            Explore the unique features of our Bachelor of Arts (BA) program that distinguish us as the
                            best BA college in Lucknow. With a focus on a well-rounded education, our dynamic curriculum
                            ensures students develop a broad perspective, critical skills, and a passion for learning.
                            Join us for an enriching academic experience that goes beyond traditional boundaries.
                        </p>
                    </div>
                </div>
                <div class="seperator col-md-12">
                    <span class="border"></span>
                </div>
                <div class="our-features">
                    <div class="col-md-4 col-sm-4">
                        <div class="item mariner">
                            <div class="icon">
                                <i class="flaticon-faculty-shield"></i>
                            </div>
                            <div class="info">
                                <h4>Student Life</h4>
                                <a href="placement-and-internship" target="_blank">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="item java">
                            <div class="icon">
                                <i class="flaticon-book-2"></i>
                            </div>
                            <div class="info">
                                <h4>Quality Education</h4>
                                <a href="our-facilities" target="_blank">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="item malachite">
                            <div class="icon">
                                <i class="flaticon-education"></i>
                            </div>
                            <div class="info">
                                <h4>College Campus</h4>
                                <a href="gallery" target="_blank">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End About -->

    <!-- Start Video Area
    ============================================= -->
    <div class="video-area padding-xl text-center bg-fixed text-light shadow dark-hard"
        style="background-image: url(assets/img/banner2.webp);">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="video-heading">
                        <h2>Begin Your Educational Journey: Admission Now Open!</h2>
                        <p>
                            Seize the opportunity to shape your future—our doors are open for admissions! Join us on a
                            transformative educational journey that nurtures your potential and paves the way for
                            academic success. Embrace the possibilities and apply today!
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="video-info">
                    <div class="user-login text-right col-md-4"
                        style="margin-top: 28px; position: relative; left: 25%;">
                        <a class="popup-with-form" href="#register-form"
                            style="background: #ffb606 none repeat scroll 0 0;border: medium none; box-shadow: inherit; font-family: Poppins , sans-serif; font-weight: 600; margin-top: 15px; padding: 13px 22px; text-transform: uppercase;">
                            <i class="fas fa-edit"></i> Register Now
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <form action="/" id="register-form" class="mfp-hide white-popup-block" method="post">
        <h2 style="text-align: center; font-weight: 600; margin-top: -18px; margin-bottom: 28px;">Get a Free online Registration</h2>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <input class="form-control" placeholder="First Name" type="text" name="fname">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <input class="form-control" placeholder="Last Name" type="text" name="lname">
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <input class="form-control" placeholder="Email*" type="email" name="cemail">
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <select name="course">
                        <option value="" selected disabled >Select a Program</option>
                        <option value="Bachelor of Arts (BA)">Bachelor of Arts (BA)</option>
                        <option value="Bachelor of Commerce (BCOM)">Bachelor of Commerce (B.COM)</option>
                    </select>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <input class="form-control" placeholder="Phone" type="text" name="phone">
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group comments">
                    <textarea class="form-control" id="comments" name="message" placeholder="Tell Me About Courses *"></textarea>
                </div>
        </div>
            <div class="col-md-12">
                <button type="submit">
                    Rigister Now
                </button>
            </div>
        </div>
    </form>

    <!-- End Video Area -->

    <div class="about-area default-padding">
        <div class="container">
            <div class="row">
                <div class="about-info">
                    <div class="col-md-6 thumb">
                        <img src="assets/img/ba-collages.webp" alt="Thumb">
                    </div>
                    <div class="col-md-6 info">
                        <h2 style="font-size: 27px;">Transformative Educational Experience</h2>
                        <p>
                            Envision a transformative educational journey at our esteemed BA degree college in Lucknow.
                            The Bachelor of Arts (BA) program offers a dynamic overview, emphasizing creativity,
                            critical thinking, and a holistic approach to education. Our commitment to excellence
                            positions us as the top choice for those seeking a comprehensive and enriching academic
                            experience in Lucknow.
                        </p>
                        <p>
                            As the premier BA college in Lucknow, our commitment to providing a transformative
                            educational experience goes beyond conventional boundaries. Our Bachelor of Arts (BA)
                            program is designed to not only impart knowledge but also nurture individual growth,
                            encouraging students to explore their passions and engage with the world critically.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Start Registration 
    ============================================= -->
    <div class="reg-area default-padding-top bg-gray">
        <div class="container">
            <div class="row">
                <div class="reg-items">
                    <div class="col-md-6 reg-form default-padding-bottom">
                        <div class="site-heading text-left">
                            <h2>Get a Free online Registration</h2>
                            <p>
                                Secure your spot with a free online registration, opening the door to a world of learning opportunities!
                            </p>
                        </div>
                        <form action="/" method="post">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input class="form-control" placeholder="First Name" type="text" name="fname">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Last Name" type="text" name="lname">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Email*" type="email" name="cemail">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <select name="course">
                                            <option value="" selected disabled>Select a Program</option>
                                            <option value="Bachelor of Arts (BA)">Bachelor of Arts (BA)</option>
                                            <option value="Bachelor of Commerce (B.COM)">Bachelor of Commerce (B.COM)</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Phone" type="text" name="phone">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                        <div class="form-group comments">
                                            <textarea class="form-control" id="comments" name="message" placeholder="Tell Me About Courses *"></textarea>
                                        </div>
                                </div>
                                <div class="col-md-12">
                                    <button type="submit">
                                        Rigister Now
                                    </button>
                                </div>
                            </div>
                            <div id="notification" class="alert alert-success fade show" role="alert"></div>
                        </form>
                    </div>
                    <div class="col-md-6 thumb" style="position: relative; top: -40px;">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3560.8923142767694!2d80.87765667489157!3d26.81155726443138!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x399bffb213b3b585%3A0x8ecf42b01c8a48fa!2sBhagwan%20Baksh%20Singh%20Degree%20College!5e0!3m2!1sen!2sin!4v1704177503330!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Registration -->

    <%- include('../views/footer/footer.ejs') %>