<%- include('../views/header/header', { title: 'Best BCOM degree collage at Bhagwan Baksh Singh Degree College', description: 'Unlock opportunities in the world of commerce with our BCom programs. Bhagwan Baksh Singh Degree College provides a comprehensive education to prepare you for a successful career.' }) %>

    <!-- Start Breadcrumb 
    ============================================= -->
    <div class="breadcrumb-area shadow dark text-center bg-fixed text-light"
        style="background-image: url(assets/img/banner1.webp);">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Bachelor of Commerce (B.COM)</h1>
                    <ul class="breadcrumb">
                        <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
                        <li><a href="#">Course</a></li>
                        <li class="active">Single</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb -->

    <!-- Start About 
    ============================================= -->
    <div class="about-area default-padding">
        <div class="container">
            <div class="row">
                <div class="about-info">
                    <div class="col-md-6 thumb">
                        <img src="assets/img/bcom-collage.webp" alt="Thumb">
                    </div>
                    <div class="col-md-6 info">
                        <h5>Introduction</h5>
                        <h2>Best B.COM collage in lucknow</h2>
                        <p>
                            Embark on a dynamic academic journey at the top B.Com college in Lucknow. Our B.Com program is crafted to provide a comprehensive understanding of commerce, economics, and entrepreneurship. With a commitment to excellence, our dynamic overview reflects a curriculum that not only imparts knowledge but also fosters critical thinking and practical skills.
                        </p>
                        <p>
                            Explore the distinctive features of our Bachelor of Commerce (B.Com) program, positioning us as the best B.Com college in Lucknow. Our dynamic curriculum is tailored to prepare students for success in the fields of business and finance. Join us for an enriching academic experience that blends theoretical knowledge with real-world applications.
                        </p>
                        
                    </div>
                </div>
                <div class="seperator col-md-12">
                    <span class="border"></span>
                </div>
                <div class="our-features">
                    <div class="col-md-4 col-sm-4">
                        <div class="item mariner">
                            <div class="icon">
                                <i class="flaticon-faculty-shield"></i>
                            </div>
                            <div class="info">
                                <h4>Student Life</h4>
                                <a href="placement-and-internship" target="_blank">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="item java">
                            <div class="icon">
                                <i class="flaticon-book-2"></i>
                            </div>
                            <div class="info">
                                <h4>Quality Education</h4>
                                <a href="our-facilities" target="_blank">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="item malachite">
                            <div class="icon">
                                <i class="flaticon-education"></i>
                            </div>
                            <div class="info">
                                <h4>College Campus</h4>
                                <a href="gallery" target="_blank">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End About -->

    <!-- Start Video Area
    ============================================= -->
    <div class="video-area padding-xl text-center bg-fixed text-light shadow dark-hard"
        style="background-image: url(assets/img/banner2.webp);">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="video-heading">
                        <h2>Begin Your Educational Journey: Admission Now Open!</h2>
                        <p>
                            Seize the opportunity to shape your future—our doors are open for admissions! Join us on a
                            transformative educational journey that nurtures your potential and paves the way for
                            academic success. Embrace the possibilities and apply today!
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="video-info">
                    <div class="user-login text-right col-md-4"
                        style="margin-top: 28px; position: relative; left: 25%;">
                        <a class="popup-with-form" href="#register-form"
                            style="background: #ffb606 none repeat scroll 0 0;border: medium none; box-shadow: inherit; font-family: Poppins , sans-serif; font-weight: 600; margin-top: 15px; padding: 13px 22px; text-transform: uppercase;">
                            <i class="fas fa-edit"></i> Register Now
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Video Area -->

    <form action="/" id="register-form" class="mfp-hide white-popup-block" method="post">
        <h2 style="text-align: center; font-weight: 600; margin-top: -18px; margin-bottom: 28px;">Get a Free online Registration</h2>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <input class="form-control" placeholder="First Name" type="text" name="fname">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <input class="form-control" placeholder="Last Name" type="text" name="lname">
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <input class="form-control" placeholder="Email*" type="email" name="cemail">
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <select name="course">
                        <option value="" selected disabled >Select a Program</option>
                        <option value="Bachelor of Arts (BA)">Bachelor of Arts (BA)</option>
                        <option value="Bachelor of Commerce (B.COM)">Bachelor of Commerce (B.COM)</option>
                    </select>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <input class="form-control" placeholder="Phone" type="text" name="phone">
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group comments">
                    <textarea class="form-control" id="comments" name="message" placeholder="Tell Me About Courses *"></textarea>
                </div>
        </div>
            <div class="col-md-12">
                <button type="submit">
                    Rigister Now
                </button>
            </div>
        </div>
    </form>


    <div class="about-area default-padding">
        <div class="container">
            <div class="row">
                <div class="about-info">
                    <div class="col-md-6 thumb">
                        <img src="assets/img/bcom-collages.webp" alt="Thumb">
                    </div>
                    <div class="col-md-6 info">
                        <h2 style="font-size: 22px;">Transformative Educational Experience (B.Com)</h2>
                        <p>
                            Envision a transformative educational journey at our esteemed B.Com college in Lucknow. The B.Com program offers a dynamic overview, emphasizing a holistic approach to commerce education. From financial management to entrepreneurial principles, our commitment to excellence ensures that each student graduates not only with a degree but with the skills and insights necessary to thrive in a competitive business landscape. Join us and elevate your educational experience to new heights.
                        </p>
                        <p>
                            Elevate your educational journey with our Bachelor of Commerce (B.Com) program, where academic excellence meets real-world applicability. Experience a transformative blend of theoretical knowledge and practical skills, shaping you into a dynamic professional ready to thrive in the competitive business landscape. Join us in redefining commerce education, where every learning moment propels you toward success.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Start Registration 
    ============================================= -->
    <div class="reg-area default-padding-top bg-gray">
        <div class="container">
            <div class="row">
                <div class="reg-items">
                    <div class="col-md-6 reg-form default-padding-bottom">
                        <div class="site-heading text-left">
                            <h2>Get a Free online Registration</h2>
                            <p>
                                Secure your spot with a free online registration, opening the door to a world of
                                learning opportunities!
                            </p>
                        </div>
                        <form action="#">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input class="form-control" placeholder="First Name" type="text">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Last Name" type="text">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Email*" type="email">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <select>
                                            <option value="" selected disabled>Select a Program</option>
                                            <option value="Bachelor of Arts (BA)">Bachelor of Arts (BA)</option>
                                            <option value="Bachelor of Commerce (B.COM)">Bachelor of Commerce (B.COM)</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Phone" type="text">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group comments">
                                        <textarea class="form-control" id="comments" name="message" placeholder="Tell Me About Courses *"></textarea>
                                    </div>
                            </div>
                                <div class="col-md-12">
                                    <button type="submit">
                                        Rigister Now
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-6 thumb" style="position: relative; top: -40px;">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3560.8923142767694!2d80.87765667489157!3d26.81155726443138!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x399bffb213b3b585%3A0x8ecf42b01c8a48fa!2sBhagwan%20Baksh%20Singh%20Degree%20College!5e0!3m2!1sen!2sin!4v1704177503330!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Registration -->

    <%- include('../views/footer/footer.ejs') %>