 <!-- Include Header -->
 <%- include('../views/header/header', { title: 'Insights and Updates: Bhagwan Baksh Singh Degree College Blog', description: 'Stay informed with our blog featuring insights, updates, and valuable information. Explore diverse topics related to education, campus life, and beyond at Bhagwan Baksh Singh Degree College.' }) %>

 <!-- Start Breadcrumb -->
 <div class="breadcrumb-area shadow dark text-center bg-fixed text-light" style="background-image: url(assets/img/banner1.webp);">
     <div class="container">
         <div class="row">
             <div class="col-md-12">
                 <h1>Blog</h1>
                 <ul class="breadcrumb">
                     <li><a href="#"><i class="fas fa-home"></i> Home</a></li>
                     <li class="active">Blog</li>
                 </ul>
             </div>
         </div>
     </div>
 </div>
 <!-- End Breadcrumb -->

 <!-- Start Blog -->
 <div class="blog-area full-blog standard full-blog default-padding">
     <div class="container">
         <div class="row">
             <div class="blog-items">
                 <!-- Blog Column 1 -->
                 <div class="col-md-4">
                     <div class="blog-content">
                         <!-- Single Item 1 -->
                         <div class="single-item">
                             <div class="item">
                                 <div class="thumb">
                                     <a href="#"><img src="assets/img/1500x700.png" alt="Thumb"></a>
                                     <div class="date">
                                         <h4><span>24</span> Nov, 2018</h4>
                                     </div>
                                 </div>
                                 <div class="info">
                                     <h3><a href="#" class="title-blog">Objection happiness something</a></h3>
                                     <p>Sitting mistake towards his few country ask. You delighted two rapturous six depending objection happiness something the partiality unaffected</p>
                                     <a href="#">Read More <i class="fas fa-angle-double-right"></i></a>
                                     <div class="meta">
                                         <ul>
                                             <li><a href="#"><i class="fas fa-user"></i> Author</a></li>
                                             <li><a href="#"><i class="fas fa-comments"></i> 23 Comments</a></li>
                                         </ul>
                                     </div>
                                 </div>
                             </div>
                         </div>
                         <!-- End Single Item 1 -->
                     </div>
                 </div>
                 <!-- End Blog Column 1 -->

                 <!-- Blog Column 2 -->
                 <div class="col-md-4">
                     <div class="blog-content">
                         <!-- Single Item 2 -->
                         <div class="single-item">
                             <div class="item">
                                 <div class="thumb">
                                     <a href="#"><img src="assets/img/1500x700.png" alt="Thumb"></a>
                                     <div class="date">
                                         <h4><span>12</span> Sep, 2018</h4>
                                     </div>
                                 </div>
                                 <div class="info">
                                     <h3><a href="#" class="title-blog">So delightful up dissimilar by unreserved</a></h3>
                                     <p>Sitting mistake towards his few country ask. You delighted two rapturous six depending objection happiness something the partiality unaffected</p>
                                     <a href="#">Read More <i class="fas fa-angle-double-right"></i></a>
                                     <div class="meta">
                                         <ul>
                                             <li><a href="#"><i class="fas fa-user"></i> Author</a></li>
                                             <li><a href="#"><i class="fas fa-comments"></i> 23 Comments</a></li>
                                         </ul>
                                     </div>
                                 </div>
                             </div>
                         </div>
                         <!-- End Single Item 2 -->
                     </div>
                 </div>
                 <!-- End Blog Column 2 -->

                 <!-- Blog Column 3 -->
                 <div class="col-md-4">
                     <div class="blog-content">
                         <!-- Single Item 3 -->
                         <div class="single-item">
                             <div class="item">
                                 <div class="thumb">
                                     <a href="#"><img src="assets/img/1500x700.png" alt="Thumb"></a>
                                     <div class="date">
                                         <h4><span>29</span> Dec, 2018</h4>
                                     </div>
                                 </div>
                                 <div class="info">
                                     <h3><a href="#" class="title-blog">Improve ashamed married expense bed her comfort</a></h3>
                                     <p>Sitting mistake towards his few country ask. You delighted two rapturous six depending objection happiness something the partiality unaffected</p>
                                     <a href="#">Read More <i class="fas fa-angle-double-right"></i></a>
                                     <div class="meta">
                                         <ul>
                                             <li><a href="#"><i class="fas fa-user"></i> Author</a></li>
                                             <li><a href="#"><i class="fas fa-comments"></i> 23 Comments</a></li>
                                         </ul>
                                     </div>
                                 </div>
                             </div>
                         </div>
                         <!-- End Single Item 3 -->
                     </div>
                 </div>
                 <!-- End Blog Column 3 -->

             </div>
         </div>
     </div>
 </div>
 <!-- End Blog -->

 <!-- Include Footer -->
 <%- include('../views/footer/footer') %>