<%- include('../views/header/header', { title: 'Visualizing Excellence: Bhagwan Baksh Singh Degree College Gallery', description: 'Immerse yourself in the vibrant campus life and academic events through our gallery. Experience the spirit and achievements of Bhagwan Baksh Singh Degree College captured in visuals.' }) %>

    <!-- Start Breadcrumb 
    ============================================= -->
    <div class="breadcrumb-area shadow dark text-center bg-fixed text-light" style="background-image: url(assets/img/banner1.webp);">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Gallery</h1>
                    <ul class="breadcrumb">
                        <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
                        <li class="active">Gallery</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb -->

     <!-- Start Portfolio
    ============================================= -->
    <div id="portfolio" class="portfolio-area default-padding">
        <div class="container">
            <div class="row">
                <div class="site-heading text-center">
                    <div class="col-md-8 col-md-offset-2">
                        <h2>Our Gallery</h2>
                        <p>
                            Dive into our captivating gallery, a visual journey through the vibrant tapestry of campus life. From academic milestones to cultural celebrations, each image tells a unique story of our dynamic community. Explore and relive the moments that define our enriching college experience.
                        </p>
                    </div>
                </div>
            </div>
            <div class="portfolio-items-area text-center">
                <div class="row">
                    <div class="col-md-12 portfolio-content">
                        <div class="mix-item-menu active-theme">
                            <button class="active" data-filter="*">All</button>
                            <button data-filter=".campus">Campus</button>
                            <button data-filter=".teachers">Teachers</button>
                            <button data-filter=".events">Events</button>
                            <button data-filter=".students">Students</button>
                        </div>
                        <!-- End Mixitup Nav-->

                        <div class="row magnific-mix-gallery masonary text-light">
                            <div id="portfolio-grid" class="portfolio-items col-3">
                                <div class="pf-item events teachers">
                                    <div class="item-effect">
                                        <img src="assets/img/gl1.webp" alt="thumb" />
                                        <div class="overlay">
                                            <a href="assets/img/gl1.webp" class="item popup-link"><i class="fa fa-expand"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="pf-item events students">
                                    <div class="item-effect">
                                        <img src="assets/img/gl2.webp" alt="thumb" />
                                        <div class="overlay">
                                            <a href="assets/img/gl2.webp" class="item popup-link"><i class="fa fa-expand"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="pf-item events students">
                                    <div class="item-effect">
                                        <img src="assets/img/gl3.webp" alt="thumb" />
                                        <div class="overlay">
                                            <a href="assets/img/gl3.webp" class="item popup-link"><i class="fa fa-expand"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="pf-item campus students">
                                    <div class="item-effect">
                                        <img src="assets/img/gl4.webp" alt="thumb" />
                                        <div class="overlay">
                                            <a href="assets/img/gl4.webp" class="item popup-link"><i class="fa fa-expand"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="pf-item students teachers">
                                    <div class="item-effect">
                                        <img src="assets/img/gl5.webp" alt="thumb" />
                                        <div class="overlay">
                                            <a href="assets/img/gl5.webp" class="item popup-link"><i class="fa fa-expand"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="pf-item events campus">
                                    <div class="item-effect">
                                        <img src="assets/img/gl6.webp" alt="thumb" />
                                        <div class="overlay">
                                            <a href="assets/img/gl6.webp" class="item popup-link"><i class="fa fa-expand"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="pf-item teachers campus">
                                    <div class="item-effect">
                                        <img src="assets/img/gl7.webp" alt="thumb" />
                                        <div class="overlay">
                                            <a href="assets/img/gl7.webp" class="item popup-link"><i class="fa fa-expand"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="pf-item events teachres">
                                    <div class="item-effect">
                                        <img src="assets/img/gl8.webp" alt="thumb" />
                                        <div class="overlay">
                                            <a href="assets/img/gl8.webp" class="item popup-link"><i class="fa fa-expand"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="pf-item students teachres campus">
                                    <div class="item-effect">
                                        <img src="assets/img/gl9.webp" alt="thumb" />
                                        <div class="overlay">
                                            <a href="assets/img/gl9.webp" class="item popup-link"><i class="fa fa-expand"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="pf-item campus students teachres">
                                    <div class="item-effect">
                                        <img src="assets/img/gl10.webp" alt="thumb" />
                                        <div class="overlay">
                                            <a href="assets/img/gl10.webp" class="item popup-link"><i class="fa fa-expand"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="pf-item events teachres">
                                    <div class="item-effect">
                                        <img src="assets/img/gl11.webp" alt="thumb" />
                                        <div class="overlay">
                                            <a href="assets/img/gl11.webp" class="item popup-link"><i class="fa fa-expand"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="pf-item students campus">
                                    <div class="item-effect">
                                        <img src="assets/img/gl12.webp" alt="thumb" />
                                        <div class="overlay">
                                            <a href="assets/img/gl12.webp" class="item popup-link"><i class="fa fa-expand"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Portfolio -->

    <%- include('../views/footer/footer.ejs') %>