<%- include('../views/header/header', { title: 'Bhagwan Baksh Singh Degree College- Home', description: 'Bhagwan Baksh Singh Degree College offers specialized BA and B.Com programs, providing a dynamic environment for academic excellence and personal growth. Join us to cultivate skills and thrive in your chosen field.' }) %>

    <!-- Start Banner 
    ============================================= -->
    <div class="banner-area content-top-heading less-paragraph text-normal">
        <div id="bootcarousel" class="carousel slide animate_text carousel-fade" data-ride="carousel">

            <!-- Wrapper for slides -->
            <div class="carousel-inner text-light carousel-zoom">
                <div class="item active">
                    <div class="slider-thumb bg-fixed" style="background-image: url(/assets/img/banner1.webp);"></div>
                    <div class="box-table shadow dark">
                        <div class="box-cell">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="content">
                                            <h3 data-animation="animated slideInLeft">Bhagwan Baksh Singh Degree College</h3>
                                            <h1 data-animation="animated slideInUp">Unlock Your Future: Admissions Now Open!</h1>
                                            <a data-animation="animated slideInUp" class="btn btn-light border btn-md" href="about-us">Learn more</a>
                                            <a data-animation="animated slideInUp" class="btn btn-theme effect btn-md" href="bachelor-of-art">View Courses</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="slider-thumb bg-fixed" style="background-image: url(/assets/img/banner2.webp);"></div>
                    <div class="box-table shadow dark">
                        <div class="box-cell">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="content">
                                            <h3 data-animation="animated slideInLeft">We're glade to see you</h3>
                                            <h1 data-animation="animated slideInUp">Building Dreams, Shaping Futures</h1>
                                            <a data-animation="animated slideInUp" class="btn btn-light border btn-md" href="about-us">Learn more</a>
                                            <a data-animation="animated slideInUp" class="btn btn-theme effect btn-md" href="bachelor-of-commerce">View Courses</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="slider-thumb bg-fixed" style="background-image: url(/assets/img/banner3.webp);"></div>
                    <div class="box-table shadow dark">
                        <div class="box-cell">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="content">
                                            <h3 data-animation="animated slideInLeft">The goal of education</h3>
                                            <h1 data-animation="animated slideInUp">Elevate Your Learning Experience: Join BBSDC</h1>
                                            <a data-animation="animated slideInUp" class="btn btn-light border btn-md" href="about-us">Learn more</a>
                                            <a data-animation="animated slideInUp" class="btn btn-theme effect btn-md" href="bachelor-of-art">View Courses</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Wrapper for slides -->

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#bootcarousel" data-slide="prev">
                <i class="fa fa-angle-left"></i>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#bootcarousel" data-slide="next">
                <i class="fa fa-angle-right"></i>
                <span class="sr-only">Next</span>
            </a>

        </div>
    </div>
    <!-- End Banner -->

    <!-- Start About 
    ============================================= -->
    <div class="about-area default-padding">
        <div class="container">
            <div class="row">
                <div class="about-info">
                    <div class="col-md-6 thumb">
                        <img src="assets/img/bbsdc-about.webp" alt="Thumb">
                    </div>
                    <div class="col-md-6 info">
                        <h5>Introduction</h5>
                        <h2>Welcome to Bhagwan Baksh Singh Degree College: Your Gateway to Higher Education</h2>
                        <p>
                            Explore the best degree colleges in Lucknow, where excellence in education takes center stage. These premier institutions offer diverse programs, ensuring an unparalleled learning experience that prepares students for success in the modern world. 
                        </p>
                        <p>
                            Among Lucknow's top educational collages, Bhagwan Baksh Singh Degree College stands out with its transformative <a href="ba" target="_blank">BA</a> and <a href="bcom" target="_blank">B.Com</a> programs. Our commitment to brilliance and student success makes us the ideal choice for those seeking a well-rounded education in the vibrant city of Lucknow. <a href="contact" target="_blank">Join us</a> on the journey to unlock your potential and chart your course to success.
                        </p>
                        <a href="about-us" target="_blank" class="btn btn-dark border btn-md">Know More</a>
                    </div>
                </div>
                <div class="seperator col-md-12">
                    <span class="border"></span>
                </div>
                <div class="our-features">
                    <div class="col-md-4 col-sm-4">
                        <div class="item mariner">
                            <div class="icon">
                                <i class="flaticon-faculty-shield"></i>
                            </div>
                            <div class="info">
                                <h4>Student Life</h4>
                                <a href="placement-and-internship" target="_blank">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="item java">
                            <div class="icon">
                                <i class="flaticon-book-2"></i>
                            </div>
                            <div class="info">
                                <h4>Quality Education</h4>
                                <a href="our-facilities" target="_blank">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="item malachite">
                            <div class="icon">
                                <i class="flaticon-education"></i>
                            </div>
                            <div class="info">
                                <h4>College Campus</h4>
                                <a href="gallery" target="_blank">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End About -->

    <!-- Start Why Chose Us 
    ============================================= -->
    <div class="wcs-area bg-dark text-light">
        <div class="container-full">
            <div class="row">
                <div class="col-md-6 thumb bg-cover" style="background-image: url(assets/img/best-collage.webp);"></div>
                <div class="col-md-6 content">
                    <div class="site-heading text-left">
                        <h4>Why chose us</h4>
                        <h2>Best Degree Colleges in Lucknow</h2>
                        <p>
                            Discover excellence in education at the best degree colleges in Lucknow, where our commitment to providing top-notch learning experiences sets us apart. With a focus on quality and innovation, we offer a range of programs to suit your academic aspirations.
                        </p>
                    </div>

                    <!-- item -->
                    <div class="item">
                        <div class="icon">
                            <i class="flaticon-trending"></i>
                        </div>
                        <div class="info">
                            <h4>
                                <a href="#">Academic Distinction:</a>
                            </h4>
                            <p>
                                Join us for an unparalleled educational journey at one of Lucknow's premier degree colleges.
                            </p>
                        </div>
                    </div>
                    <!-- item -->

                    <!-- item -->
                    <div class="item">
                        <div class="icon">
                            <i class="flaticon-books"></i>
                        </div>
                        <div class="info">
                            <h4>
                                <a href="#">Experienced Faculty</a>
                            </h4>
                            <p>
                                Learn from seasoned educators dedicated to your academic and personal development.
                            </p>
                        </div>
                    </div>
                    <!-- item -->

                    <!-- item -->
                    <div class="item">
                        <div class="icon">
                            <i class="flaticon-professor"></i>
                        </div>
                        <div class="info">
                            <h4>
                                <a href="#">Innovative Learning Culture</a>
                            </h4>
                            <p>
                                Immerse yourself in a dynamic learning environment that fosters creativity and critical thinking.
                            </p>
                        </div>
                    </div>
                    <!-- item -->

                </div>
            </div>
        </div>
    </div>
    <!-- End Why Chose Us -->

    <!-- Start Popular Courses 
    ============================================= -->
    <div class="popular-courses bg-gray circle carousel-shadow default-padding">
        <div class="container">
            <div class="row">
                <div class="site-heading text-center">
                    <div class="col-md-8 col-md-offset-2">
                        <h2>Popular Courses</h2>
                        <p>
                            Unlock your potential with our popular courses, tailored for success and designed to meet industry demands. Join us for a transformative learning experience at the top-rated best degree colleges in Lucknow.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="popular-courses-items popular-courses-carousel owl-carousel owl-theme">

                        <!-- Single Item -->
                        <div class="item">
                            <div class="thumb">
                                <a href="bachelor-of-art" target="_blank">
                                    <img src="/assets/img/ba.webp" alt="Thumb">
                                </a>
                            </div>
                            <div class="info">
                                <h4><a href="bachelor-of-art" target="_blank">Bachelor of Arts (BA)</a></h4>
                                <p>
                                    Explore the world of arts and knowledge with our BA program, where certainty and enjoyment intertwine.
                                </p>
                                <div class="bottom-info">
                                    <a href="bachelor-of-art" target="_blank">Enroll Now</a>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Item -->

                        <!-- Single Item -->
                        <div class="item">
                            <div class="thumb">
                                <a href="bachelor-of-commerce" target="_blank">
                                    <img src="/assets/img/bcom.webp" alt="Thumb">
                                </a>
                            </div>
                            <div class="info">
                                <h4><a href="bachelor-of-commerce" target="_blank">Bachelor of Commerce (B.COM)</a></h4>
                                <p>
                                    Dive into the world of commerce and business with our BCom program, where certainty and enjoyment intertwine.
                                </p>
                                <div class="bottom-info">
                                    <a href="bachelor-of-commerce" target="_blank">Enroll Now</a>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Item -->

                        <!-- Single Item -->
                        <div class="item">
                            <div class="thumb">
                                    <img src="assets/img/commingsoon.webp" alt="Thumb">
                            </div>
                            <div class="info">
                                <h4>Comming Soon</h4>
                                <p>
                                    <!-- Would day nor ask walls known. But preserved advantage are but and certainty earnestly enjoyment. -->
                                </p>
                                <div class="bottom-info">
                                    <a href="#">Enroll Now</a>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Item -->
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Popular Courses -->

    <!-- Start Top Categories 
    ============================================= -->
    <div id="top-categories" class="top-cat-area default-padding bottom-less">
        <div class="container">
            <div class="row">
                <div class="site-heading text-center">
                    <div class="col-md-8 col-md-offset-2">
                        <h2>Top Categories</h2>
                        <p>
                            Discover our top categories, spanning diverse fields, designed to cater to your academic and professional aspirations. From business to arts, we offer dynamic programs that set the stage for your success. 
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="top-cat-items">
                    <div class="col-md-3 col-sm-6 equal-height">
                        <div class="item" style="background-image: url(assets/img/commingsoon.webp);">
                            <a href="#">
                                <i class="flaticon-feature"></i>
                                <div class="info">
                                    <h4>Academic Programs</h4>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 equal-height">
                        <div class="item" style="background-image: url(assets/img/commingsoon.webp);">
                            <a href="#">
                                <i class="flaticon-interaction"></i>
                                <div class="info">
                                    <h4>Student Life</h4>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 equal-height">
                        <div class="item" style="background-image: url(assets/img/commingsoon.webp);">
                            <a href="#">
                                <i class="flaticon-conveyor"></i>
                                <div class="info">
                                    <h4>Campus Facilities</h4>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 equal-height">
                        <div class="item" style="background-image: url(assets/img/commingsoon.webp);">
                            <a href="#">
                                <i class="flaticon-education"></i>
                                <div class="info">
                                    <h4>Career Services</h4>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 equal-height">
                        <div class="item" style="background-image: url(assets/img/commingsoon.webp);">
                            <a href="#">
                                <i class="flaticon-potential"></i>
                                <div class="info">
                                    <h4>Sports and Athletics</h4>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 equal-height">
                        <div class="item" style="background-image: url(assets/img/commingsoon.webp);">
                            <a href="#">
                                <i class="flaticon-print"></i>
                                <div class="info">
                                    <h4>Cultural and Arts</h4>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 equal-height">
                        <div class="item" style="background-image: url(assets/img/commingsoon.webp);">
                            <a href="#">
                                <i class="flaticon-translate"></i>
                                <div class="info">
                                    <h4>Community Outreach</h4>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 equal-height">
                        <div class="item" style="background-image: url(assets/img/commingsoon.webp);">
                            <a href="#">
                                <i class="flaticon-firewall"></i>
                                <div class="info">
                                    <h4>Professional Development</h4>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Top Categories -->

    <!-- Start Fun Factor 
    ============================================= -->
    <div class="fun-factor-area default-padding bottom-less text-center bg-fixed shadow dark-hard" style="background-image: url(assets/img/banner1.webp);">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 item">
                    <div class="fun-fact">
                        <div class="icon">
                            <i class="flaticon-contract"></i>
                        </div>
                        <div class="info">
                            <span class="timer" data-to="50" data-speed="5000"></span>
                            <span class="medium">Awards</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 item">
                    <div class="fun-fact">
                        <div class="icon">
                            <i class="flaticon-professor"></i>
                        </div>
                        <div class="info">
                            <span class="timer" data-to="50" data-speed="5000"></span>
                            <span class="medium">Best Teachers</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 item">
                    <div class="fun-fact">
                        <div class="icon">
                            <i class="flaticon-online"></i>
                        </div>
                        <div class="info">
                            <span class="timer" data-to="3070" data-speed="5000"></span>
                            <span class="medium">Students Enrolled</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 item">
                    <div class="fun-fact">
                        <div class="icon">
                            <i class="flaticon-reading"></i>
                        </div>
                        <div class="info">
                            <span class="timer" data-to="3" data-speed="5000"></span>
                            <span class="medium">Cources</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Fun Factor -->


    <!-- Start Registration 
    ============================================= -->
    <div class="reg-area default-padding-top bg-gray">
        <div class="container">
            <div class="row">
                <div class="reg-items">
                    <div class="col-md-6 reg-form default-padding-bottom">
                        <div class="site-heading text-left">
                            <h2>Get a Free online Registration</h2>
                            <p>
                                Secure your spot with a free online registration, opening the door to a world of learning opportunities!
                            </p>
                        </div>
                        <form action="/" method="post">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input class="form-control" placeholder="First Name" type="text" name="fname">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Last Name" type="text" name="lname">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Email*" type="email" name="cemail">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <select name="course">
                                            <option value="" selected disabled>Select a Program</option>
                                            <option value="Bachelor of Arts (BA)">Bachelor of Arts (BA)</option>
                                            <option value="Bachelor of Commerce (B.COM)">Bachelor of Commerce (B.COM)</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Phone" type="text" name="phone">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                        <div class="form-group comments">
                                            <textarea class="form-control" id="comments" name="message" placeholder="Tell Me About Courses *"></textarea>
                                        </div>
                                </div>
                                <div class="col-md-12">
                                    <button type="submit">
                                        Rigister Now
                                    </button>
                                </div>
                            </div>
                            <div id="notification" class="alert alert-success fade show" role="alert"></div>
                        </form>
                    </div>
                    <div class="col-md-6 thumb" style="position: relative; top: -40px;">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3560.8923142767694!2d80.87765667489157!3d26.81155726443138!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x399bffb213b3b585%3A0x8ecf42b01c8a48fa!2sBhagwan%20Baksh%20Singh%20Degree%20College!5e0!3m2!1sen!2sin!4v1704177503330!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Registration -->

    <!-- Start Testimonials 
    ============================================= -->
    <div class="testimonials-area carousel-shadow default-padding bg-dark text-light">
        <div class="container">
            <div class="row">
                <div class="site-heading text-center">
                    <div class="col-md-8 col-md-offset-2">
                        <h2>Students Review</h2>
                        <p>
                            Discover what students are saying about their experience – real insights, real feedback, guiding you on your educational journey.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="clients-review-carousel owl-carousel owl-theme">
                        <!-- Single Item -->
                        <div class="item">
                            <div class="col-md-5 thumb">
                                <img src="assets/img/avtar.png" alt="Thumb">
                            </div>
                            <div class="col-md-7 info">
                                <p>
                                    Procuring continued suspicion its ten. Pursuit brother are had fifteen distant has. Early had add equal china quiet visit. Appear an manner as no limits either praise.. 
                                </p>
                                <h4>Druna Patia</h4>
                                <span>Biology Student</span>
                            </div>
                        </div>
                        <!-- Single Item -->
                        <!-- Single Item -->
                        <div class="item">
                            <div class="col-md-5 thumb">
                                <img src="assets/img/avtar.png" alt="Thumb">
                            </div>
                            <div class="col-md-7 info">
                                <p>
                                    Procuring continued suspicion its ten. Pursuit brother are had fifteen distant has. Early had add equal china quiet visit. Appear an manner as no limits either praise.. 
                                </p>
                                <h4>Astron Brun</h4>
                                <span>Science Student</span>
                            </div>
                        </div>
                        <!-- Single Item -->
                        <!-- Single Item -->
                        <div class="item">
                            <div class="col-md-5 thumb">
                                <img src="assets/img/avtar.png" alt="Thumb">
                            </div>
                            <div class="col-md-7 info">
                                <p>
                                    Procuring continued suspicion its ten. Pursuit brother are had fifteen distant has. Early had add equal china quiet visit. Appear an manner as no limits either praise.. 
                                </p>
                                <h4>Paol Druva</h4>
                                <span>Development Student</span>
                            </div>
                        </div>
                        <!-- Single Item -->
                        <!-- Single Item -->
                        <div class="item">
                            <div class="col-md-5 thumb">
                                <img src="assets/img/avtar.png" alt="Thumb">
                            </div>
                            <div class="col-md-7 info">
                                <p>
                                    Procuring continued suspicion its ten. Pursuit brother are had fifteen distant has. Early had add equal china quiet visit. Appear an manner as no limits either praise.. 
                                </p>
                                <h4>Druna Patia</h4>
                                <span>Biology Student</span>
                            </div>
                        </div>
                        <!-- Single Item -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Testimonials -->

    <!-- Start Blog 
    ============================================= -->
    <!-- <div id="blog" class="blog-area default-padding bottom-less">
        <div class="container">
            <div class="row">
                <div class="site-heading text-center">
                    <div class="col-md-8 col-md-offset-2">
                        <h2>Latest News</h2>
                        <p>
                            Stay informed with our latest news updates, offering insights, events, and important happenings within our academic community. Your source for timely information and campus highlights.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="blog-items"> -->

                    <!-- Single Item -->
                    <!-- <div class="col-md-4 single-item">
                        <div class="item">
                            <div class="thumb">
                                <a href="#"><img src="assets/img/800x600.png" alt="Thumb"></a>
                                <div class="date">
                                    <h4><span>24</span> Nov, 2018</h4>
                                </div>
                            </div>
                            <div class="info">
                                <h4>
                                    <a href="#">Objection happiness something</a>
                                </h4>
                                <p>
                                    Sitting mistake towards his few country ask. You delighted two rapturous six depending objection happiness something the partiality unaffected
                                </p>
                                <a href="#">Read More <i class="fas fa-angle-double-right"></i></a>
                                <div class="meta">
                                    <ul>
                                        <li>
                                            <a href="#"><i class="fas fa-user"></i> Author</a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fas fa-comments"></i> 23 Comments</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <!-- Single Item -->
                    <!-- Single Item -->
                    <!-- <div class="col-md-4 single-item">
                        <div class="item">
                            <div class="thumb">
                                <a href="#"><img src="assets/img/800x600.png" alt="Thumb"></a>
                                <div class="date">
                                    <h4><span>12</span> Sep, 2018</h4>
                                </div>
                            </div>
                            <div class="info">
                                <h4>
                                    <a href="#">Meant to learn of vexed</a>
                                </h4>
                                <p>
                                    Sitting mistake towards his few country ask. You delighted two rapturous six depending objection happiness something the partiality unaffected
                                </p>
                                <a href="#">Read More <i class="fas fa-angle-double-right"></i></a>
                                <div class="meta">
                                    <ul>
                                        <li>
                                            <a href="#"><i class="fas fa-user"></i> Author</a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fas fa-comments"></i> 23 Comments</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <!-- Single Item -->
                    <!-- Single Item -->
                    <!-- <div class="col-md-4 single-item">
                        <div class="item">
                            <div class="thumb">
                                <a href="#"><img src="assets/img/800x600.png" alt="Thumb"></a>
                                <div class="date">
                                    <h4><span>29</span> Dec, 2018</h4>
                                </div>
                            </div>
                            <div class="info">
                                <h4>
                                    <a href="#">Delightful up dissimilar</a>
                                </h4>
                                <p>
                                    Sitting mistake towards his few country ask. You delighted two rapturous six depending objection happiness something the partiality unaffected
                                </p>
                                <a href="#">Read More <i class="fas fa-angle-double-right"></i></a>
                                <div class="meta">
                                    <ul>
                                        <li>
                                            <a href="#"><i class="fas fa-user"></i> Author</a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fas fa-comments"></i> 23 Comments</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <!-- Single Item -->

                <!-- </div>
            </div>
        </div>
    </div> -->
    <!-- End Blog -->

    <!-- Start Clients Area 
    ============================================= -->
    <div class="clients-area default-padding bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-4 info">
                    <h4 style="font-weight: 600;">Our Cultural Programs</h4>
                    <p>
                        Immerse yourself in a tapestry of cultural richness with our vibrant programs, showcasing diversity, creativity, and community spirit. Explore the essence of culture through engaging events that inspire and connect.
                    </p>
                </div>
                <div class="col-md-8 clients">
                    <div class="clients-items owl-carousel owl-theme text-center">
                        <div class="single-item">
                            <a href="gallery"><img src="assets/img/g1.webp" alt="Clients" height="90px"></a>
                        </div>
                        <div class="single-item">
                            <a href="gallery"><img src="assets/img/g2.webp" alt="Clients" height="90px"></a>
                        </div>
                        <div class="single-item">
                            <a href="gallery"><img src="assets/img/g3.webp" alt="Clients" height="90px"></a>
                        </div>
                        <div class="single-item">
                            <a href="gallery"><img src="assets/img/g4.webp" alt="Clients" height="90px"></a>
                        </div>
                        <div class="single-item">
                            <a href="gallery"><img src="assets/img/g5.webp" alt="Clients" height="90px"></a>
                        </div>
                        <div class="single-item">
                            <a href="gallery"><img src="assets/img/g6.webp" alt="Clients" height="90px"></a>
                        </div>
                        <div class="single-item">
                            <a href="gallery"><img src="assets/img/g7.webp" alt="Clients" height="90px"></a>
                        </div>
                        <div class="single-item">
                            <a href="gallery"><img src="assets/img/g8.webp" alt="Clients" height="90px"></a>
                        </div>
                        <div class="single-item">
                            <a href="gallery"><img src="assets/img/g9.webp" alt="Clients" height="90px"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Clients Area -->

<%- include('../views/footer/footer.ejs')  %>