<%- include('../views/header/header', { title: 'Cutting-Edge Facilities at Bhagwan Baksh Singh Degree College', description: 'Experience academic excellence in a dynamic environment. Explore the state-of-the-art facilities at Bhagwan Baksh Singh Degree College designed to enhance your learning journey.' }) %>

    <!-- Start Breadcrumb 
    ============================================= -->
    <div class="breadcrumb-area shadow dark text-center bg-fixed text-light"
        style="background-image: url(assets/img/banner1.webp);">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Our Facilities</h1>
                    <ul class="breadcrumb">
                        <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
                        <li class="active">Our Facilities</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb -->

    <!-- Start About 
    ============================================= -->
    <div class="about-area default-padding">
        <div class="container">
            <div class="row">
                <div class="about-info">
                    <div class="col-md-6 thumb">
                        <img src="assets/img/bcom-collage.webp" alt="Thumb">
                    </div>
                    <div class="col-md-6 info">
                        <h2>Welcome to Our Vibrant Campus!</h2>
                        <p>
                            At Bhagwan Baksh Singh Degree College, our commitment to student success is embodied in our
                            cutting-edge facilities, meticulously designed to elevate your academic journey. Modern
                            classrooms, equipped with the latest technology, create an interactive and engaging learning
                            environment. Our library and learning resources center serves as a haven for intellectual
                            exploration, offering a vast collection and serene study spaces.
                        </p>
                        <p>
                            Fuel your curiosity in our state-of-the-art laboratories and research centers, designed for
                            hands-on exploration and groundbreaking research. Find balance in our recreational areas,
                            providing green spaces, sports facilities, and fitness centers. The vibrant student hub at
                            the center of campus life fosters connections through events, clubs, and organizations.
                            Avail yourself of support services, including counseling and career guidance, ensuring your
                            holistic well-being throughout your college experience at Bhagwan Baksh Singh Degree
                            College.
                        </p>

                    </div>
                </div>
                <div class="seperator col-md-12">
                    <span class="border"></span>
                </div>
                <div class="our-features">
                    <div class="col-md-4 col-sm-4">
                        <div class="item mariner">
                            <div class="icon">
                                <i class="flaticon-faculty-shield"></i>
                            </div>
                            <div class="info">
                                <h4>Student Life</h4>
                                <a href="placement-and-internship" target="_blank">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="item java">
                            <div class="icon">
                                <i class="flaticon-book-2"></i>
                            </div>
                            <div class="info">
                                <h4>Quality Education</h4>
                                <a href="our-facilities" target="_blank">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="item malachite">
                            <div class="icon">
                                <i class="flaticon-education"></i>
                            </div>
                            <div class="info">
                                <h4>College Campus</h4>
                                <a href="gallery" target="_blank">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End About -->

    <!-- Start Video Area
    ============================================= -->
    <div class="video-area padding-xl text-center bg-fixed text-light shadow dark-hard"
        style="background-image: url(assets/img/banner2.webp);">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="video-heading">
                        <h2>Begin Your Educational Journey: Admission Now Open!</h2>
                        <p>
                            Seize the opportunity to shape your future—our doors are open for admissions! Join us on a
                            transformative educational journey that nurtures your potential and paves the way for
                            academic success. Embrace the possibilities and apply today!
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="video-info">
                    <div class="user-login text-right col-md-4"
                        style="margin-top: 28px; position: relative; left: 25%;">
                        <a class="popup-with-form" href="#register-form"
                            style="background: #ffb606 none repeat scroll 0 0;border: medium none; box-shadow: inherit; font-family: Poppins , sans-serif; font-weight: 600; margin-top: 15px; padding: 13px 22px; text-transform: uppercase;">
                            <i class="fas fa-edit"></i> Register Now
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Video Area -->

    <form action="/" id="register-form" class="mfp-hide white-popup-block" method="post">
        <h2 style="text-align: center; font-weight: 600; margin-top: -18px; margin-bottom: 28px;">Get a Free online
            Registration</h2>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <input class="form-control" placeholder="First Name" type="text" name="fname">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <input class="form-control" placeholder="Last Name" type="text" name="lname">
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <input class="form-control" placeholder="Email*" type="email" name="cemail">
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <select name="course">
                        <option value="" selected disabled>Select a Program</option>
                        <option value="Bachelor of Arts (BA)">Bachelor of Arts (BA)</option>
                        <option value="Bachelor of Commerce (B.COM)">Bachelor of Commerce (B.COM)</option>
                    </select>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <input class="form-control" placeholder="Phone" type="text" name="phone">
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group comments">
                    <textarea class="form-control" id="comments" name="message" placeholder="Tell Me About Courses *"></textarea>
                </div>
        </div>
            <div class="col-md-12">
                <button type="submit">
                    Rigister Now
                </button>
            </div>
        </div>
    </form>


    <div class="about-area default-padding">
        <div class="container">
           <h2 style="text-align: center; margin-bottom: 50px; font-weight: 600; font-size: 35px;">Enriching College Experience<br><span style="font-size: 20px; font-weight: 400;"> Our Cutting-Edge Facilities in Eight Key Points</span></h2>
            <div class="row">
                <div class="boxesfaci">
                    <div class="faci">
                        <h3>
                            Student Hub
                        </h3>
                        <p>
                            Connect with your peers at the heart of campus life – our student hub. This vibrant space is a hub of activity, hosting events, clubs, and organizations that cater to a diverse range of interests.</p>
                    </div>
                    <div class="faci">
                        <h3>
                            Canten
                        </h3>
                        <p>
                            Fuel your body and mind with a variety of dining options on campus. Our cafeterias offer a range of cuisines, ensuring you have the energy you need to excel in your studies.</p>
                    </div>
                    <div class="faci">
                        <h3>
                            Support Services
                        </h3>
                        <p>
                            We prioritize your well-being. Access counseling, career services, and academic support to ensure you thrive during your time at [Your Collage Name]. Our dedicated staff is here to assist you every step of the way.</p>
                    </div>
                    <div class="faci">
                        <h3>
                            Recreational Areas
                        </h3>
                        <p>
                            Balancing academics with relaxation is essential. Enjoy our recreational areas, including green spaces, sports facilities, and fitness centers. Whether you're into sports or just want to unwind, we've got you covered.</p>
                    </div>
                </div>
                <div class="boxesfaci">
                    <div class="faci">
                        <h3>
                            Modern Classrooms for Study
                        </h3>
                        <p>
                            Experience education in cutting-edge classrooms equipped with the latest technology. Our
                            interactive learning spaces foster collaboration and engagement, ensuring a transformative
                            academic experience.</p>
                    </div>
                    <div class="faci">
                        <h3>
                            Library and Learning Resources
                        </h3>
                        <p>
                            The heart of intellectual exploration, our library is a haven for students seeking knowledge. With a vast collection of books, digital resources, and quiet study areas, it's the perfect place to dive into your studies.</p>
                    </div>
                    <div class="faci">
                        <h3>
                            Laboratories and Research Centers
                        </h3>
                        <p>
                            Fuel your curiosity and innovation in our specialized labs and research centers. From advanced science labs to creative arts studios, we provide the tools and space for hands-on exploration and discovery.</p>
                    </div>
                    <div class="faci">
                        <h3>
                            Technological Infrastructure
                        </h3>
                        <p>
                            Stay connected with our robust technological infrastructure. High-speed Wi-Fi, computer labs, and tech support ensure that you have the tools you need for academic success.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="top-categories" class="top-cat-area default-padding bottom-less" style="padding-top: 22px!important;">
        <div class="container">
            <div class="row">
                <div class="site-heading text-center">
                    <div class="col-md-8 col-md-offset-2">
                        <h2>Top Categories</h2>
                        <p>
                            Discover our top categories, spanning diverse fields, designed to cater to your academic and professional aspirations. From business to arts, we offer dynamic programs that set the stage for your success. 
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="top-cat-items">
                    <div class="col-md-3 col-sm-6 equal-height" style="height: 153px;">
                        <div class="item" style="background-image: url(assets/img/commingsoon.webp);">
                            <a href="#">
                                <i class="flaticon-feature"></i>
                                <div class="info">
                                    <h4>Academic Programs</h4>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 equal-height" style="height: 153px;">
                        <div class="item" style="background-image: url(assets/img/commingsoon.webp);">
                            <a href="#">
                                <i class="flaticon-interaction"></i>
                                <div class="info">
                                    <h4>Student Life</h4>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 equal-height" style="height: 153px;">
                        <div class="item" style="background-image: url(assets/img/commingsoon.webp);">
                            <a href="#">
                                <i class="flaticon-conveyor"></i>
                                <div class="info">
                                    <h4>Campus Facilities</h4>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 equal-height" style="height: 153px;">
                        <div class="item" style="background-image: url(assets/img/commingsoon.webp);">
                            <a href="#">
                                <i class="flaticon-education"></i>
                                <div class="info">
                                    <h4>Career Services</h4>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 equal-height" style="height: 153px;">
                        <div class="item" style="background-image: url(assets/img/commingsoon.webp);">
                            <a href="#">
                                <i class="flaticon-potential"></i>
                                <div class="info">
                                    <h4>Sports and Athletics</h4>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 equal-height" style="height: 153px;">
                        <div class="item" style="background-image: url(assets/img/commingsoon.webp);">
                            <a href="#">
                                <i class="flaticon-print"></i>
                                <div class="info">
                                    <h4>Cultural and Arts</h4>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 equal-height" style="height: 153px;">
                        <div class="item" style="background-image: url(assets/img/commingsoon.webp);">
                            <a href="#">
                                <i class="flaticon-translate"></i>
                                <div class="info">
                                    <h4>Community Outreach</h4>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 equal-height" style="height: 153px;">
                        <div class="item" style="background-image: url(assets/img/commingsoon.webp);">
                            <a href="#">
                                <i class="flaticon-firewall"></i>
                                <div class="info">
                                    <h4>Professional Development</h4>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Start Registration 
    ============================================= -->
    <div class="reg-area default-padding-top bg-gray">
        <div class="container">
            <div class="row">
                <div class="reg-items">
                    <div class="col-md-6 reg-form default-padding-bottom">
                        <div class="site-heading text-left">
                            <h2>Get a Free online Registration</h2>
                            <p>
                                Secure your spot with a free online registration, opening the door to a world of
                                learning opportunities!
                            </p>
                        </div>
                        <form action="#">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input class="form-control" placeholder="First Name" type="text">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Last Name" type="text">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Email*" type="email">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <select>
                                            <option value="" selected disabled>Select a Program</option>
                                            <option value="Bachelor of Arts (BA)">Bachelor of Arts (BA)</option>
                                            <option value="Bachelor of Commerce (B.COM)">Bachelor of Commerce (B.COM)</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Phone" type="text">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group comments">
                                        <textarea class="form-control" id="comments" name="message" placeholder="Tell Me About Courses *"></textarea>
                                    </div>
                            </div>
                                <div class="col-md-12">
                                    <button type="submit">
                                        Rigister Now
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-6 thumb" style="position: relative; top: -40px;">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3560.8923142767694!2d80.87765667489157!3d26.81155726443138!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x399bffb213b3b585%3A0x8ecf42b01c8a48fa!2sBhagwan%20Baksh%20Singh%20Degree%20College!5e0!3m2!1sen!2sin!4v1704177503330!5m2!1sen!2sin"
                            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Registration -->

    <%- include('../views/footer/footer.ejs') %>