<%- include('../views/header/header', { title: 'Career Opportunities: Placement and Internship Programs', description: 'Prepare for success with our placement and internship programs. Bhagwan Baksh Singh Degree College empowers students for the professional world with strategic career initiatives.' }) %>

 <!-- Start Breadcrumb 
    ============================================= -->
    <div class="breadcrumb-area shadow dark text-center bg-fixed text-light" style="background-image: url(assets/img/banner1.webp); width: auto;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Placement and Internship</h1>
                    <ul class="breadcrumb">
                        <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
                        <li class="active">Placement and Internship</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb -->


<div class="about-area default-padding">
    <div class="container">
        <div class="row">
            <div class="about-info">
                <div class="col-md-6 thumb">
                    <img src="assets/img/bbsdc-about.webp" alt="Thumb">
                </div>
                <div class="col-md-6 info">
                    <h2>Empowering Futures: Strategic Placement and Internship Programs</h2>
                    <p>
                        As part of our commitment to nurturing well-rounded and career-ready graduates, Bhagwan Baksh Singh Degree College provides comprehensive placement and internship programs. We understand the significance of bridging the gap between academia and industry, and our initiatives are designed to equip students with practical skills and real-world experiences. 
                    </p>
                    <p>
                        Through strategic collaborations with leading organizations, our students have the opportunity to engage in internships that complement their academic knowledge, fostering a seamless transition into the professional landscape.
                    </p>
                    <!-- <a href="about-us" target="_blank" class="btn btn-dark border btn-md">Know More</a> -->
                </div>
            </div>
            <div class="seperator col-md-12">
                <span class="border"></span>
            </div>
           
        </div>
    </div>
</div>

<div class="video-area padding-xl text-center bg-fixed text-light shadow dark-hard" style="background-image: url(assets/img/banner2.webp);">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="video-heading">
                    <h2>Begin Your Educational Journey: Admission Now Open!</h2>
                    <p>
                        Seize the opportunity to shape your future—our doors are open for admissions! Join us on a transformative educational journey that nurtures your potential and paves the way for academic success. Embrace the possibilities and apply today!
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="video-info">
                <div class="user-login text-right col-md-4" style="margin-top: 28px; position: relative; left: 25%;">
                <a class="popup-with-form" href="#register-form" style="background: #ffb606 none repeat scroll 0 0;border: medium none; box-shadow: inherit; font-family: Poppins , sans-serif; font-weight: 600; margin-top: 15px; padding: 13px 22px; text-transform: uppercase;">
                    <i class="fas fa-edit"></i> Register Now
                </a>
            </div>
            </div>
        </div>
    </div>
</div>

<form action="/" id="register-form" class="mfp-hide white-popup-block" method="post">
    <h2 style="text-align: center; font-weight: 600; margin-top: -18px; margin-bottom: 28px;">Get a Free online Registration</h2>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <input class="form-control" placeholder="First Name" type="text" name="fname">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <input class="form-control" placeholder="Last Name" type="text" name="lname">
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <input class="form-control" placeholder="Email*" type="email" name="cemail">
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <select name="course">
                    <option value="" selected disabled >Select a Program</option>
                    <option value="Bachelor of Arts (BA)">Bachelor of Arts (BA)</option>
                    <option value="Bachelor of Commerce (B.COM)">Bachelor of Commerce (B.COM)</option>
                </select>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <input class="form-control" placeholder="Phone" type="text" name="phone">
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group comments">
                <textarea class="form-control" id="comments" name="message" placeholder="Tell Me About Courses *"></textarea>
            </div>
    </div>
        <div class="col-md-12">
            <button type="submit">
                Rigister Now
            </button>
        </div>
    </div>
</form>

<div class="about-area default-padding">
    <div class="container">
        <div class="row">
            <div class="about-info">
                <div class="col-md-6 thumb">
                    <img src="assets/img/bcom-collages.webp" alt="Thumb">
                </div>
                <div class="col-md-6 info">
                    <h2 style="font-size: 22px;">Career Readiness Starts Here: Unleashing Opportunities Through Placements and Internships</h2>
                    <p>
                        At Bhagwan Baksh Singh Degree College, we recognize the importance of preparing students for successful careers. Our placement and internship programs focus on honing both technical expertise and soft skills, ensuring that graduates not only excel in their chosen fields but also stand out in a competitive job market.
                    </p>
                    <p>
                        With a dedicated placement cell, industry-oriented training, and networking opportunities, we empower our students to explore diverse career paths and embark on a journey towards professional success.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<%- include('../views/footer/footer.ejs') %>