<!-- Start Footer 
    ============================================= -->
<footer class="bg-dark default-padding-top text-light">
    <div class="container">
        <div class="row">
            <div class="f-items">
                <div class="col-md-3 item">
                    <div class="f-item">
                        <img src="assets/img/footerlogo.png" alt="Logo">
                        <p>
                            Explore the best degree colleges in Lucknow, where excellence in education takes center
                            stage. These premier institutions offer diverse programs, ensuring an unparalleled learning
                            experience that prepares students for success in the modern world.
                        </p>
                        <div style="margin-top: 6px; display: block; position: relative; padding-top: 15px;">
                            <!-- Section: Social media -->
                            <section>
                                <!-- Facebook -->
                                <a class="btn text-white btn-floating m-1"
                                    style="background-color: #3b5998; border-radius: 50px;font-size: 14px; height: 37px;"
                                    href="#!" role="button"><i class="fab fa-facebook-f"></i></a>

                                <!-- Twitter -->
                                <a class="btn text-white btn-floating m-1"
                                    style="background-color: #55acee; border-radius: 50px; font-size: 14px;" href="#!"
                                    role="button"><i class="fab fa-twitter"></i></a>

                                <!-- Instagram -->
                                <a class="btn text-white btn-floating m-1"
                                    style="background-color: #ac2bac; border-radius: 50px;font-size: 14px;" href="#!"
                                    role="button"><i class="fab fa-instagram"></i></a>

                                <!-- Linkedin -->
                                <a class="btn text-white btn-floating m-1"
                                    style="background-color: #0082ca; background-color: #3b5998;border-radius: 50px;font-size: 14px;"
                                    href="#!" role="button"><i class="fab fa-linkedin-in"></i></a>
                            </section>
                            <!-- Section: Social media -->
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6 item">
                    <div class="f-item link">
                        <h4>Pages</h4>
                        <ul>
                            <li>
                                <a href="/">Home</a>
                            </li>
                            <li>
                                <a href="about-us">About Us</a>
                            </li>
                            <li>
                                <a href="our-facilities">Our Facilities</a>
                            </li>
                            <li>
                                <a href="placement-and-internship">Placement and Internship</a>
                            </li>
                            <li>
                                <a href="gallery">Gallery</a>
                            </li>
                            <li>
                                <a href="contact">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 item">
                    <div class="f-item address">
                        <h4>Address</h4>
                        <ul>
                            <li>
                                <i class="fas fa-envelope"></i>
                                <p>Email <span><a href="mailto:bbsdc2021@gmail.com">bbsdc2021@gmail.com</a></span>
                                </p>
                            </li>
                            <li>
                                <i class="fas fa-map"></i>
                                <p>Office <span><a href="https://www.google.com/search?q=bhagwan+baksh+singh+degree+college&rlz=1C1RXQR_enIN1037IN1037&oq=&gs_lcrp=EgZjaHJvbWUqCQgBECMYJxjqAjIJCAAQIxgnGOoCMgkIARAjGCcY6gIyCQgCECMYJxjqAjIJCAMQIxgnGOoCMgkIBBAjGCcY6gIyCQgFECMYJxjqAjIJCAYQIxgnGOoCMgkIBxAjGCcY6gLSAQkyNzA1OGowajeoAgiwAgE&sourceid=chrome&ie=UTF-8" target="_blank"> Khushi Vihar, Kanausi, Manak Nagar</a></span></p>
                            </li>
                            <li>
                                <i class="fas fa-phone"></i>
                                <p>Phone<span><a href="tel:7985959958">+91-7985959958</a></span></p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 item">
                    <iframe
                        src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fshare%2Fk74wg5fHpx5DwB1G%2F&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
                        width="500" height="400" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                        allowfullscreen="true"
                        allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                </div>
            </div>
        </div>
    </div>
    <!-- Start Footer Bottom -->
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <p>&copy; Copyright 2023. All Rights Reserved | Design & Developed by <a href="#">Digi Vivek</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer Bottom -->
</footer>
<!-- End Footer -->

<!-- jQuery Frameworks
    ============================================= -->
<script src="/assets/js/jquery-1.12.4.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/equal-height.min.js"></script>
<script src="/assets/js/jquery.appear.js"></script>
<script src="/assets/js/jquery.easing.min.js"></script>
<script src="/assets/js/jquery.magnific-popup.min.js"></script>
<script src="/assets/js/modernizr.custom.13711.js"></script>
<script src="/assets/js/owl.carousel.min.js"></script>
<script src="/assets/js/wow.min.js"></script>
<script src="/assets/js/isotope.pkgd.min.js"></script>
<script src="/assets/js/imagesloaded.pkgd.min.js"></script>
<script src="/assets/js/count-to.js"></script>
<script src="/assets/js/loopcounter.js"></script>
<script src="/assets/js/jquery.nice-select.min.js"></script>
<script src="/assets/js/bootsnav.js"></script>
<script src="/assets/js/main.js"></script>


</body>

</html>