<!DOCTYPE html>
<html lang="en">

<head>
    <!-- ========== Meta Tags ========== -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- ========== Favicon Icon ========== -->
    <link rel="shortcut icon" href="/assets/img/favicon.png" type="image/x-icon">

    <!-- ========== Start Stylesheet ========== -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/assets/css/flaticon-set.css" rel="stylesheet" />
    <link href="/assets/css/elegant-icons.css" rel="stylesheet" />
    <link href="/assets/css/magnific-popup.css" rel="stylesheet" />
    <link href="/assets/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="/assets/css/owl.theme.default.min.css" rel="stylesheet" />
    <link href="/assets/css/animate.css" rel="stylesheet" />
    <link href="/assets/css/bootsnav.css" rel="stylesheet" />
    <link href="/style.css" rel="stylesheet">
    <link href="/assets/css/responsive.css" rel="stylesheet" />
    <!-- ========== End Stylesheet ========== -->

    <meta name="description" content="<%= description %>">
    <title><%= title %></title> 

    <!-- ========== Google Fonts ========== -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800" rel="stylesheet">

</head>

<body>

    <!-- Preloader Start -->
    <div class="se-pre-con"></div>
    <!-- Preloader Ends -->

    <!-- Start Header Top 
    ============================================= -->
    <div class="top-bar-area address-two-lines bg-dark text-light">
        <div class="container">
            <div class="row">
                <div class="col-md-8 address-info">
                    <div class="info box">
                        <ul>
                            <li>
                                <span><i class="fas fa-map"></i> Address</span><a href="https://www.google.com/search?q=bhagwan+baksh+singh+degree+college&rlz=1C1RXQR_enIN1037IN1037&oq=&gs_lcrp=EgZjaHJvbWUqCQgBECMYJxjqAjIJCAAQIxgnGOoCMgkIARAjGCcY6gIyCQgCECMYJxjqAjIJCAMQIxgnGOoCMgkIBBAjGCcY6gIyCQgFECMYJxjqAjIJCAYQIxgnGOoCMgkIBxAjGCcY6gLSAQkyNzA1OGowajeoAgiwAgE&sourceid=chrome&ie=UTF-8" target="_blank">Khushi Vihar, Kanausi, Manak Nagar</a>
                            </li>
                            <li>
                              <span><i class="fas fa-envelope-open"></i> Email</span><a href="mailto:bbsdc2021@gmail.com">bbsdc2021@gmail.com</a></li>
                            </li>
                            <li>
                                <span><i class="fas fa-phone"></i> Contact</span><a href="tel:7985959958">+91-7985959958</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div style="margin-top: 6px; display: block; position: relative; left: 21.5rem;">
                    <!-- Section: Social media -->
                    <section class="col-md-4">
                        <!-- Facebook -->
                        <a class="btn text-white btn-floating m-1"
                            style="background-color: #3b5998; border-radius: 50px;font-size: 14px; height: 37px;"
                            href="#!" role="button"><i class="fab fa-facebook-f"></i></a>

                        <!-- Twitter -->
                        <a class="btn text-white btn-floating m-1"
                            style="background-color: #55acee; border-radius: 50px; font-size: 14px;" href="#!"
                            role="button"><i class="fab fa-twitter"></i></a>

                        <!-- Instagram -->
                        <a class="btn text-white btn-floating m-1"
                            style="background-color: #ac2bac; border-radius: 50px;font-size: 14px;" href="#!"
                            role="button"><i class="fab fa-instagram"></i></a>

                        <!-- Linkedin -->
                        <a class="btn text-white btn-floating m-1"
                            style="background-color: #0082ca; background-color: #3b5998;border-radius: 50px;font-size: 14px;"
                            href="#!" role="button"><i class="fab fa-linkedin-in"></i></a>
                    </section>
                    <!-- Section: Social media -->
                </div>
                <!-- Grid container -->
            </div>
        </div>
    </div>
    <!-- End Header Top -->

    <!-- Header 
    ============================================= -->
    <header id="home">

        <!-- Start Navigation -->
        <nav class="navbar navbar-default navbar-sticky bootsnav">

            <!-- Start Top Search -->
            <div class="container">
                <div class="row">
                    <div class="top-search">
                        <div class="input-group">
                            <form action="#">
                                <input type="text" name="text" class="form-control" placeholder="Search">
                                <button type="submit">
                                    <i class="fas fa-search"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Top Search -->

            <div class="container">

                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="/">
                        <img src="/assets/img/logo.png" class="logo" alt="Logo">
                    </a>
                </div>
                <!-- End Header Navigation -->

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav navbar-right" data-in="#" data-out="#">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="/about-us">About Us</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle active" data-toggle="dropdown">Courses</a>
                            <ul class="dropdown-menu">
                                <li><a href="bachelor-of-art">BA</a></li>
                                <li><a href="bachelor-of-commerce">B.Com</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="our-facilities">Our Facilities</a>
                        </li>
                        <li>
                            <a href="placement-and-internship">Placement and Internship</a>
                        </li>
                        <li>
                            <a href="gallery">Gallery</a>
                        </li>
                        <!-- <li>
                            <a href="blog">Blog</a>
                        </li> -->
                        <li>
                            <a href="contact">contact</a>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div>

        </nav>
        <!-- End Navigation -->

    </header>
    <!-- End Header -->